/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
html, body { position: relative; max-width: 640px; font-family: serif; margin: 0px auto;}
.body{background: white}
ul { margin: 0; padding: 0; }
li{    list-style-type: none;}
.headerColor{    background: #f60;
    border-bottom: 1px solid #e35b00;}
.headerColor h1{color: white;font-weight: bold;}
.width100{width: 100% !important}
.left { float: left; }
.right { float: right; }
.hide{display: none}
.clearboth{clear: both;    overflow: hidden;}
.marginTop2{margin-top:24px;}
.marginTop5{margin-top:44px;}
.joinColor{background-color: darkred !important;}
.gobuy{background-color: #e20c0c !important;color: white !important;}
.margin10{margin: 10px !important;}
.margin17{margin: 17px !important;}
.paddBottom{padding-bottom: 64px}
.border{height: 1px;background: #ccc}
.shopwidth{width: 62%}
.imgGoods{padding: 10px;}
.activebg{background: #d6cece}
.newtitle{color: #f60;
    font-size: 14px;
    font-weight: bold;}
.bottom
{
    margin-bottom: 64px;
}
.bottom-1
{
    margin-bottom: 20px;
}
.bottomF{ bottom: 47px !important;}
.mui-plus.mui-android header.mui-bar { display: none; }
.mui-plus.mui-android .mui-bar-nav ~ .mui-content { padding: 0; }

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description { margin: .5em 0; }
.hm-description > li { font-size: 14px; color: #8f8f94; }
.hbtnLogin { font-size: 20px; line-height: 40px; position: fixed; z-index: 2; top: 20px; right: 24px; display: block; width: 100px; height: 40px; text-align: center; opacity: .9; color: white; border-radius: 10px; background: #9ba4a5; }
.tabListUl { padding: 10px;    margin: 15px 6px; border: 1px solid #DCDCDC;
    border-radius: 5px; background: #fff; box-shadow: 1px 1px 1px #e7e7e7;
}
.updown{animation:updown 2s ease both; -webkit-animation:updown 2s ease both;}

@-webkit-keyframes updown{
    0% {
    -webkit-transform: translateY(0px);
  }
  50% { -webkit-transform: translateY(0px);

  }
   
  60% { -webkit-transform: translateY(-10px);

  }
      70% {
    -webkit-transform: translateY(10px);
  }
  80% { -webkit-transform: translateY(-10px);

  }
  100% { -webkit-transform: none;
  }
}

.tobig { animation:tobig .9s ease both; -webkit-animation:tobig .9s ease both;}
 @keyframes Tobig{
    0%{ transform:scale(0,0); opacity:0;} 
    100%{ transform:scale(1,1); opacity:1;}
    } 
@-webkit-keyframes tobig{
    0%{ transform:scale(0,0);-webkit-transform:scale(0,0);opacity:0;}
    100%{ transform:scale(1,1);-webkit- transform:scale(1,1);opacity:1;}
    }
span.bgtmsm{    position: absolute;
    background: url("../images/bgtm.png");
    bottom: 6px;
    color: white;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;}
.tabListUl > p { font-size: 18px; margin: 5px 0; }
.tabListUl > p > i { color: #ef8133; }
.hnlTab { line-height:40px; clear: both; overflow: hidden; height: 40px; text-align: center;
    color: #666;}
.tabLeft { float: left; width: 50%;    border-bottom-right-radius: 20px;background:#dddddd;
    border-bottom-left-radius: 20px; }
.tabRight { float: left; width: 50%;     border-bottom-right-radius: 20px;background:#dddddd;
    border-bottom-left-radius: 20px;}
.hnlTab a{color: #666;font-size: 14px;font-family: arial,微软雅黑;  }
.activeTab {   background: #e86c36;  color: white;}
.hnlContent { margin: 0 5px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 1px #e7e7e7;}
.hnlContent a { position: relative; }
.hnlContent a >p { font-size: 16px; position: absolute; bottom: 0; width: 100%; height: 83px; margin: 5px 0; padding: 10px 0; color: white; background: url('../images/listbg.png') center no-repeat; background-size: 100%; }
.hnlContent a img { border-radius: 10px }
.indexJoin{    display: block;    width: 56%;
    margin: 10px auto;
    background: #e86c36;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;}
#hnlTabContent2 { display: none; }

/* login */
::-webkit-input-placeholder {    /* WebKit browsers */
color: #f1eaea; }
.bodybgLogin { background: url(../images/loginbg.jpg) no-repeat; background-size: cover;  }
#loginBg { padding: 120px 20px 20px; }
#loginBg input { margin-top: 12px; color: #fff; border: none; border-bottom: 2px solid #e8e7e7; background: none; }

.marginTop { margin-top: 40px !important; }
.btnLogin1 { line-height: 40px; display: block; clear: both; width: 80%; height: 40px; margin: 20px auto; text-align: center; opacity: .9;     color: white;
    background: #4CAF50;}
.btnLogin2 { line-height: 40px; display: block; clear: both; width: 80%; height: 40px; margin: 20px auto; text-align: center; opacity: .9;     color: white;
    background: #4CAF50;}


/* dbqb*/
.indianaContent{background: #ffe9e9;    padding:8px 30px;}
.mui-table-view .mui-media-object {
    line-height: 100px;
    max-width: 100px;
    height: 100px;
}
.mui-progressbar{height: 5px;}
.mui-progressbar span{background: #f60}
.mui-progressbar.mui-progressbar-infinite:before{background: #f60}

.Pro-bar-li li.P-bar01 {
    width: 30%;
    text-align: left;
}
.Pro-bar-li li.P-bar02 {
    width: 40%;
    text-align: center;
}
.Pro-bar-li li.P-bar03{
    width: 30%;
    float: right;
    text-align: right;
}
.Pro-bar-li li {
    float: left;
    color: #AEADAD;
    font-size: 10px;
    font-family: 宋体;
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: none;
}
.Pro-bar-li li.P-bar01 em {
    color: #F60;
}
.Pro-bar-li li.P-bar02 em {
    color: #777;
}
.Pro-bar-li li.P-bar03 em {
    color: #2AF;
}
.Pro-bar-li li em {
    display: block;
    font-size: 10px;
    font-family: arial;
    height: 14px;
    padding: 3px 0 0 0;
    font-style: normal;
}
a.gojoin
{    display: block;
    width: 90%;
    height: 50px;
    line-height: 50px;
    text-align: center;
       color: white !important;
    background: #f60;
    font-size: 20px;
    margin: 5px auto !important;
    border-radius: 10px;
    padding: 1px !important;
}
.uproll
{
    overflow: hidden;

    height: 30px;
    margin: 10px 0;
} 
.notice
{
    line-height: 30px;

    height: 30px;
    margin: 0 10px;
}
.actContent
{
    margin: 10px !important;
}
.actContent > p
{
    padding-top: 9px;

    border-top: 1px solid #ccc;
}
.title
{
    padding: 10px;
    background: #f4f1f1;
}
.mui-table-view .mui-media-body
{
    margin: 10px 0;
}
.mui-table-view .mui-table-view-cell img.productImg
{
    max-width: 90px;
    height: 84px;
    margin-top: 12px;
    border-radius: 7px;
}

.mui-card-content .color_win{color: darkgreen;}
.mui-card-content p .icon_win{
      float: right;
    background: #19bd20;
    padding: 3px 5px;
    border-radius: 6px;
    color: white;
}
a.btnshare{display: table-cell;
    overflow: hidden;
    width: 1%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #929292;}

/* myteam */
ul.myTeamUl{margin: 5px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    box-shadow: 1px 1px 1px #e7e7e7;}
ul.mui-table-view>p{    margin: 0px 9px;    padding-top: 5px;}
.mui-table-view .teamErweima{max-width: 90px;height: 90px;margin: 0 10px;border-radius: 8px;}
.waitWinner{background-color: #b7adad;
    color: white;
    width: 100px;
    border-radius: 7px;
    text-align: center;
    margin: 17px auto;
    padding: 5px}
   .mui-progressbar{ margin: 15px 0;}
.getJoin{    background: #ef8133;
    color: white !important;
    text-align: center;
    margin:10px !important;
        padding: 8px;
    border-radius: 10px;}
.number{
    color: #b7adad;
    text-align: center;
    padding: 20px 0;}
.marquee{    margin-top: 16px; color: brown;}
.bottomFix{background: #28b624;
    width: 33%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 8px;}
/*goods*/
.shopTitle{    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-size: 18px;
    color: #545050;}
p.goodssay{    border-top: 1px solid #d0d0d5;
    margin: 10px;
    padding-top: 10px;}
.btn_goods{width: 40%;
    text-align: center;
    background: #1fcf6b;
    padding: 10px;
    color: white;}

/* buygoods */
.chooseNum{overflow:hidden;clear: both;}
nav{    clear: both;    text-align: center;
    overflow: hidden;
    padding: 10px;}
nav input.numCard{    margin: 0;    text-align: center;
    padding: 0;
    width: 60px;
    height: 33px;}
i#totprice{color: red;font-weight:bold;}

/* pay */
.pphone{margin: 10px;  }
.pphone input{margin: 0;}
.pphone span{margin: 0;  color: #d41d1d;}



