    .fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.button {
  color: #666;
  background-color: #EEE;
  border-color: #EEE;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  /*padding: 0 40px;*/
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  /*
  * Disabled State
  *
  * The disabled state uses the class .disabled, is-disabled,
  * and the form attribute disabled="disabled".
  * The use of !important is only added because this is a state
  * that must be applied to all buttons when in a disabled state.
  */ }
  .button:visited {
    color: #666; }
  .button:hover, .button:focus {
    background-color: #f6f6f6;
    text-decoration: none;
    outline: none; }
  .button:active, .button.active, .button.is-active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    color: #d4d4d4;
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); }
  .button.disabled, .button.is-disabled, .button:disabled {
    top: 0 !important;
    background: #EEE !important;
    border: 1px solid #DDD !important;
    text-shadow: 0 1px 1px white !important;
    color: #CCC !important;
    cursor: default !important;
    appearance: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    opacity: .8 !important; }
.button-primary,
.button-primary-flat {
  background-color: #1B9AF7;
  border-color: #1B9AF7;
  color: #FFF; }
  .button-primary:visited,
  .button-primary-flat:visited {
    color: #FFF; }
  .button-primary:hover, .button-primary:focus,
  .button-primary-flat:hover,
  .button-primary-flat:focus {
    background-color: #4cb0f9;
    border-color: #4cb0f9;
    color: #FFF; }
  .button-primary:active, .button-primary.active, .button-primary.is-active,
  .button-primary-flat:active,
  .button-primary-flat.active,
  .button-primary-flat.is-active {
    background-color: #2798eb;
    border-color: #2798eb;
    color: #0880d7; }
.pCard {
    float: none;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #d7dce1;
    box-shadow: 0 0px 2px #d7dce1;
    background-color: #f9f9f7;
    position: relative;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    min-width: 130px;
    margin: 0px 6px;
}

.pHead {
    margin: 4px;
    border-radius: 3px;
    float: left;
    height: 45px;
    width: 45px;
}

.pCard .pName {
    min-height: 14px;
    max-width: 109px;
}

.pName {
    padding: 6px 0 0 0;
    position: relative;
    display: inline-block;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: brown;
}

.pCard:hover {
    border-color: #66c9f3;
    box-shadow: 0 0px 10px #66c9f3;
    cursor: pointer;
}

.pCardSelect {
    border-color: #66c9f3;
    box-shadow: 0 0px 10px #66c9f3;
    cursor: pointer;
}

.pStatus {
    color: #1288c5;
    font-size: 12px;
}

.panel {
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
        border-radius: 5px;

}
    .panel:hover {
        border-color: #66c9f3;
        box-shadow: 0 0 5px #66c9f3;
    }
.panel-heading {
    padding: 10px 15px;
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
    color: #555555;
    text-shadow: 0 1px 0 #ffffff;
    font-size: 14px;
}

.panel-footer {
    background-color: #fff;
}

body {
    font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background-color: #F3F6F8;*/
}




/*聊天*/

.chat-widget ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}

.chat-widget li {
    margin-bottom: 15px;
}

.chat-widget img {
    border-radius: 100px;
    background: #fff;
}

.chat-widget .chat-meta {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 5px;
}

.chat-widget .by-me .chat-content {
    background: #fcfcfc;
    margin-left: 70px;
    position: relative;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #777;
}

    .chat-widget .by-me .chat-content:after, .chat-widget .by-me .chat-content:before {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .chat-widget .by-me .chat-content:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 6px;
        top: 30%;
        margin-top: -10px;
    }

    .chat-widget .by-me .chat-content:before {
        border-color: rgba(238, 238, 238, 0);
        border-right-color: #ccc;
        border-width: 7px;
        top: 30%;
        margin-top: -11px;
    }

.chat-widget .by-other .chat-content {
    background: #fcfcfc;
    margin-right: 70px;
    position: relative;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #777;
}

    .chat-widget .by-other .chat-content:after, .chat-widget .by-other .chat-content:before {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .chat-widget .by-other .chat-content:after {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #fff;
        border-width: 6px;
        top: 30%;
        margin-top: -6px;
    }

    .chat-widget .by-other .chat-content:before {
        border-color: rgba(204, 204, 204, 0);
        border-left-color: #ccc;
        border-width: 7px;
        top: 30%;
        margin-top: -7px;
    }

.chat-widget .form-group {
    width: 80% !important;
}

.deldata {
    visibility: hidden;
    position: absolute;
    right: 10px;
    margin-top: 0px;
    cursor: pointer;
}

.panel:hover .deldata {
    visibility: visible;
    position: absolute;
    right: 10px;
    margin-top: 0px;
}


.float-shadow {
    display: inline-block;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

    .float-shadow:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: '';
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        /* W3C */
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform, opacity;
        transition-property: transform, opacity;
    }

    .float-shadow:hover, .float-shadow:focus, .float-shadow:active {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        /* move the element up by 5px */
    }

        .float-shadow:hover:before, .float-shadow:focus:before, .float-shadow:active:before {
            opacity: 1;
            -webkit-transform: translateY(5px);
            transform: translateY(5px);
            /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
        }

.glow {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

    .glow:hover, .glow:focus, .glow:active {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    }

.thumbnail {
    display: inline-block;
    margin: 5px 5px 5px 0px;
    padding: 5px;
}

    .thumbnail:hover {
        border-color: #66c9f3;
        box-shadow: 0 0px 10px #66c9f3;
        cursor: pointer;
    }

    .thumbnail img {
        width: 200px;
        height: 100px;
    }

    .thumbnail .caption {
        padding: 5px 9px 0px 9px;
    }



.formbody {
    padding: 10px 18px;
}

.formtitle {
    border-bottom: solid 1px #d0dee5;
    line-height: 35px;
    position: relative;
    height: 35px;
    margin-bottom: 20px;
}

    .formtitle span {
        font-size: 16px;
        border-bottom: solid 3px #66c9f3;
        float: left;
        position: absolute;
        z-index: 100;
        bottom: -1px;
        padding: 0 3px;
        height: 30px;
        line-height: 30px;
    }


.maindiv {
    padding: 0 20px 0 0;
    margin: 20px 0 0 0;
}

.contentdv {
    padding: 0 10px 20px 0;
}

.addDataPan, .szhl_Upload, .szhl_getPeoples {
    display: none;
}

.Required {
    color: red;
    vertical-align: middle;
    line-height: 25px;
    margin-right: 2px;
}

.ms-controller, .ms-important, [ms-controller], [ms-important] {
    visibility: hidden;
}

.table {
    background-color: white;
}

    .table thead th {
        background-color: aliceblue;
    }

.badge {
    background-color: #1B9AF7;
}


.modal-backdrop {
    background-color: transparent;
}


/*BOOTREE*/
.tree {
}

    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0 5px;
        position: relative;
    }

        .tree li::before, .tree li::after {
            content: '';
            left: -20px;
            position: absolute;
            right: auto;
        }

        .tree li::before {
            border-left: 1px solid #999;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px;
        }

        .tree li::after {
            border-top: 1px solid #999;
            height: 20px;
            top: 25px;
            width: 25px;
        }

        .tree li span {
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border: 1px solid #999;
            border-radius: 2px;
            display: inline-block;
            padding: 3px 8px;
            text-decoration: none;
        }

        .tree li.parent_li > span {
            cursor: pointer;
        }

    .tree > ul > li::before, .tree > ul > li::after {
        border: 0;
    }

    .tree li:last-child::before {
        height: 30px;
    }

    .tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
        background: #eee;
        border: 1px solid #94a0b4;
        color: #000;
    }

.sucalert {
    background-color: #51a351;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: white;
}





/*企业文档模块CSS*/

.listContent {
    overflow: hidden;
    padding: 0;
}
.wdlist .iconfont {
    color:#1B9AF7;
}
    .listContent li {
        width: 100px;
        float: left;
        text-align: center;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #fff;
        cursor: pointer;
        margin-bottom: 10px;
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline;
        margin-left: 5px;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

        .listContent li i {
            float: left;
            font-size: 18px;
        }

        .listContent li .newbadge {
            float: right;
            position: relative;
            right: -5px;
            background-color: brown;
        }

        .listContent li .icon-weigouxuan {
            visibility: collapse;
        }

        .listContent li:hover .icon-weigouxuan {
            visibility: visible;
        }

        .listContent li:hover {
            background: antiquewhite;
            border-color: #bcccde;
            border: 1px solid #fff;
        }

.selli {
    background: antiquewhite;
}



.listContent li img {
    display: block;
    margin: 0 auto 5px;
    min-height: 65px;
    width: 80px;
    height: 70px;
}

.wdlist {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link-logo {
    background: url(/images/NewIndex/qywd/hand.png) no-repeat;
    margin-top: -15px;
    display: block;
    height: 16px;
    width: 40px;
    position: absolute;
}

.copy {
    opacity: .7;
}
/*企业文档模块*/




.box {
    border: 1px solid #d7dce1;
    box-shadow: 0 0 2px #d7dce1;
    background-color: #f9f9f7;
    position: relative;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-bottom: 15px;
    overflow: visible;
    position: relative;
}

    .box:hover {
        border-color: #66c9f3;
        box-shadow: 0 0px 10px #66c9f3;
        cursor: pointer;
    }

.box-title {
    padding: 10px 15px;
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(top, #fdfdfd, #f6f6f6);
    background-image: -ms-linear-gradient(top, #fdfdfd, #f6f6f6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f6f6f6));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #f6f6f6);
    background-image: -o-linear-gradient(top, #fdfdfd, #f6f6f6);
    background-image: linear-gradient(top, #fdfdfd, #f6f6f6);
    border-bottom: 1px solid #d6d6d6;
    color: #555555;
    text-shadow: 0 1px 0 #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.box-content, .box-content.collapse.in {
    padding: 15px;
}

.BoxMenu {
}

    .BoxMenu i {
        color: #1B9AF7;
        font-size: 20px;
    }

.sycd {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 2px !important;
}

    .sycd:hover {
        cursor: pointer;
        border-bottom: 2px solid #66c9f3;
    }

    .sycd .fa {
        font-size: 30px;
    }

.menutab {
    position: absolute;
}

    .menutab td {
        width: 120px;
    }

        .menutab td label {
            position: absolute;
            top: 0;
            right: 0;
        }

.sycdactive {
    background: #eff3f9;
    cursor: pointer;
    border-bottom: 2px solid #66c9f3 !important;
}


#btADD {
    height: 34px;
    line-height: 34px;
    border-radius: 4px;
}
.iconfont {
    font-family: "iconfont";
    font-style: normal;
    color:gray

}     


.leftmenu li {
    border-bottom-width: 2px;
}

    .leftmenu li:hover {
        color: #1B9AF7;
        border-bottom-color: #1B9AF7;
        cursor: pointer;
    }
        .leftmenu li:hover .iconfont {
        color: #1B9AF7;
       
    }
.leftmenu .sel {
    color: #1B9AF7;
    border-bottom-color: #1B9AF7;
}
.leftmenu .sel .iconfont {
        color: #1B9AF7;
       
    }
.leftmenu li .iconfont {
    font-family: "iconfont";
    font-size: 30px;
    font-style: normal;
}
    


     
 /* 字体图片样式*/

 
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1441789461_0995274.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1441789461_0995274.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1441789461_0995274.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1441789461_0995274.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1441789461_0995274.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiesuo:before { content: "\e634"; }
.icon-yingyong:before { content: "\e64c"; }
.icon-suo:before { content: "\e635"; }
.icon-bumen:before { content: "\e600"; }
.icon-wenjianjia:before { content: "\e624"; }
.icon-bumen1:before { content: "\e64f"; }
.icon-iconfontjianqie:before { content: "\e601"; }
.icon-yingyongzhuce:before { content: "\e616"; }
.icon-youjianxinxiicon:before { content: "\e620"; }
.icon-daohuotongzhi:before { content: "\e608"; }
.icon-shoucang:before { content: "\e603"; }
.icon-qingjia:before { content: "\e604"; }
.icon-101:before { content: "\e617"; }
.icon-shezhichilun:before { content: "\e636"; }
.icon-55:before { content: "\e62f"; }
.icon-yingyong1:before { content: "\e64d"; }
.icon-zhanghaoshezhi:before { content: "\e637"; }
.icon-wangpan:before { content: "\e60c"; }
.icon-xinwengonggao:before { content: "\e609"; }
.icon-tianjiawenjianjia:before { content: "\e627"; }
.icon-iconmoney:before { content: "\e649"; }
.icon-gouxuan:before { content: "\e63f"; }
.icon-weigouxuan:before { content: "\e640"; }
.icon-daibanrenwu:before { content: "\e60d"; }
.icon-47gekeshiduanxintongji:before { content: "\e638"; }
.icon-wancheng:before { content: "\e610"; }
.icon-2shangwuchucha:before { content: "\e613"; }
.icon-youjianweidu:before { content: "\e621"; }
.icon-youjianyidu:before { content: "\e622"; }
.icon-guanlizhongxin:before { content: "\e618"; }
.icon-yingyongzhongxin:before { content: "\e619"; }
.icon-daiban:before { content: "\e611"; }
.icon-fuzhi:before { content: "\e602"; }
.icon-gonggongwenjiangui:before { content: "\e628"; }
.icon-huodonggonggao:before { content: "\e60a"; }
.icon-huodong:before { content: "\e63d"; }
.icon-xiaoxi:before { content: "\e61a"; }
.icon-renwuqingdan:before { content: "\e60e"; }
.icon-xiazai:before { content: "\e626"; }
.icon-customize:before { content: "\e61b"; }
.icon-wodeshoucang:before { content: "\e630"; }
.icon-shenpiliuchengtubiao2208:before { content: "\e64a"; }
.icon-yulan:before { content: "\e646"; }
.icon-bumenshezhi:before { content: "\e650"; }
.icon-yingyongguanli:before { content: "\e61c"; }
.icon-shenpibaoxiao:before { content: "\e64b"; }
.icon-xinzengrenwu:before { content: "\e60f"; }
.icon-kehuguanli:before { content: "\e614"; }
.icon-ren:before { content: "\e651"; }
.icon-xiugaimima:before { content: "\e639"; }
.icon-1:before { content: "\e63a"; }
.icon-jinlingyingcaiwangtubiao77:before { content: "\e652"; }
.icon-838ribao:before { content: "\e607"; }
.icon-shangchuan:before { content: "\e641"; }
.icon-tubiao2wodewenjianjia:before { content: "\e629"; }
.icon-mianxingtubiao1wodewenjian:before { content: "\e62a"; }
.icon-houxutubiao98:before { content: "\e625"; }
.icon-wenjiandisc:before { content: "\e62b"; }
.icon-wenjianjia1:before { content: "\e606"; }
.icon-cuban2wodewenjianjia:before { content: "\e62c"; }
.icon-mianxingtubiao1wodewenjianjia:before { content: "\e62d"; }
.icon-liebiao:before { content: "\e644"; }
.icon-qiyedanganguanli:before { content: "\e62e"; }
.icon-xitongshoucang:before { content: "\e631"; }
.icon-yulan1:before { content: "\e647"; }
.icon-yishoucang:before { content: "\e632"; }
.icon-guanbi:before { content: "\e63b"; }
.icon-icon04:before { content: "\e63c"; }
.icon-wodeshoucang1:before { content: "\e633"; }
.icon-yulan2:before { content: "\e642"; }
.icon-biaodan:before { content: "\e64e"; }
.icon-iconsvggyiwancheng18:before { content: "\e612"; }
.icon-tongzhizhongxin:before { content: "\e60b"; }
.icon-fangdajing:before { content: "\e648"; }
.icon-tuichudenglu:before { content: "\e61d"; }
.icon-xiaoxi1:before { content: "\e61e"; }
.icon-fenlei:before { content: "\e61f"; }
.icon-iconfontqingjiaguanli:before { content: "\e615"; }
.icon-fenxiang:before { content: "\e605"; }
.icon-shangchuantouxiang:before { content: "\e63e"; }
.icon-duanxin:before { content: "\e645"; }
.icon-biaoweiyidu01:before { content: "\e623"; }
.icon-icondelete:before { content: "\e643"; }



.form-control{
    border-radius:0;
}
