/*TAB样式*/
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent;font-weight:bold }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
/*TAB样式*/

/*ui-group-buttons样式*/
.ui-group-buttons .or{position:relative;float:left;width:.3em;height:1.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'or';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
.ui-group-buttons .or.or-sm{height:1em}
.ui-group-buttons .or.or-sm:after{height:2.5em}
.ui-group-buttons .or.or-xs{height:.25em}
.ui-group-buttons .or.or-xs:after{height:1.84em;z-index:-1000}
.ui-group-buttons{display:inline-block;vertical-align:middle}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:15px}
.ui-group-buttons .btn:last-child{border-top-right-radius:.25em;border-bottom-right-radius:.25em;padding-left:15px}
/*ui-group-buttons样式*/


.progress {
    position: relative;
	height: 25px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}


.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px;
      background-color: black;
    opacity: .7;
    width:100%;
}
.card .card-content {
  padding: 6px 10px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.ystep-container {
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Wenquanyi Micro Hei","Microsoft Yahei",Arial,sans-serif;
  display: inline-block;
  position: relative;
  color: #000;
}
.ystep-container ul {
  list-style: none;
}
.ystep-container ul,.ystep-container li,.ystep-container p {
  margin: 0;
  padding: 0;
}

/*size css*/
.ystep-sm {
  width: 360px;
  height: 30px;
  font-size: 12px;
  line-height: 1;
}
.ystep-lg {
  width: 700px;
  height: 60px;
  font-size: 12px;
  /*font-size: 18px;*/
  /*line-height: .3;*/
}

/*small size css*/
.ystep-sm .ystep-container-steps {
  position: absolute;
  top: 2px;
  cursor: pointer;
  z-index: 10;
}
.ystep-sm li {
  float: left;
  width: 65px;
  height: 50px;
}
.ystep-sm .ystep-step-done {
  background-position: -119px -76px;
}
.ystep-sm .ystep-step-undone {
  background-position: -60px -76px;
}
.ystep-sm .ystep-step-active {
  background-position: -182px -76px;
}
.ystep-sm .ystep-progress {
  width: 260px;
  height: 3px;
  position: absolute;
  top: 30px;
  left: 8px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}
.ystep-sm .ystep-progress-bar {
  width: 260px;
  height: 6px;
  background: #e4e4e4;
  display: inline-block;
  float: left;
}
.ystep-sm .ystep-progress-highlight {
  height: 6px;
	display: block;
}

/*large size css*/
.ystep-lg .ystep-container-steps {
  position: absolute;
  top: 2px;
  cursor: pointer;
  z-index: 10;
}
.ystep-lg li {
  float: left;
  width: 160px;
  height: 50px;
}
.ystep-lg .ystep-step-done {
  background-position: -170px -137px;
}
.ystep-lg .ystep-step-undone {
  background-position: 0px -137px;
}
.ystep-lg .ystep-step-active {
  background-position: -340px -137px;
}
.ystep-lg .ystep-progress {
  width: 400px;
  height: 10px;
  position: absolute;
  top: 30px;
  left: 15px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}
.ystep-lg .ystep-progress-bar {
  width: 400px;
  height: 20px;
  background: #e4e4e4;
  display: inline-block;
  float: left;
}
.ystep-lg .ystep-progress-highlight {
  height: 20px;
	display: block;
}

/*green css*/
.ystep-green .ystep-step-done {
  background-image: url("/ViewV5/JS/YSteps/pointes_green.png");
  background-repeat: no-repeat;
}
.ystep-green .ystep-step-undone {
  background-image: url("/ViewV5/JS/YSteps/pointes_green.png");
  background-repeat: no-repeat;
  color: #9c9a9b;
}
.ystep-green .ystep-step-active {
  background-image: url("/ViewV5/JS/YSteps/pointes_green.png");
  background-repeat: no-repeat;
  color: #3d8e15;
}
.ystep-green .ystep-progress-highlight {
  background: #89bc65;
}

/*blue css*/
.ystep-blue .ystep-step-done {
  background-image: url("/ViewV5/JS/YSteps/pointes_blue.png");
  background-repeat: no-repeat;
}
.ystep-blue .ystep-step-undone {
  background-image: url("/ViewV5/JS/YSteps/pointes_blue.png");
  background-repeat: no-repeat;
  color: #9c9a9b;
}
.ystep-blue .ystep-step-active {
  background-image: url("/ViewV5/JS/YSteps/pointes_blue.png");
  background-repeat: no-repeat;
  color: #3276b1;
}
.ystep-blue .ystep-progress-highlight {
  background: #60baff;
}



/*checkbox样式*/
.icheckbox_square-blue{width: 16px;height: 16px;background-color: #fff;border:1px solid #e5e5e5;position: relative;box-sizing: border-box;line-height: 16px;text-align: center;margin: 0 auto;cursor: pointer;display: inline-block;}
.icheckbox_square-blue input{width: 100%;height: 100%;position: absolute;top:0;left: 0;margin: 0;opacity: 0;}
.icheckbox_square-blue:hover{border-color: #12b8f6;border-width: 2px;}
.icheckbox_square-blue span{margin: 0;margin-top:-2px;opacity: 0;color: #fff;font-size: 12px;}
.icheckbox_square-blue.checked{background-color: #12B8F6;border:none;}
.icheckbox_square-blue.checked span{opacity: 1;}

.icheckbox_square-blue.uncheck{background:#ccc;border:none}
.icheckbox_square-blue.uncheck:hover{border:none;}
.icheckbox_square-blue.uncheck span{opacity: 0;}
.icheckbox_square-blue.uncheck.checked span{opacity: 1;}


/*.detail-nav{padding: 10px 0px 0 10px;}*/
.tab-kh{width:100%;font-size:14px;height:32px;/*border-bottom:1px solid rgba(0,0,0,.1);*/color:#939aab}
.detail-nav span{font-size:14px;padding:0 10px;margin-right:25px;cursor:pointer;height:32px;display:inline-block}
.detail-nav span.cur{border-bottom:2px solid #12b8f6;color:#12b8f6}
.detail-nav span.cur i{color:#12b8f6}
/*.detail-nav .nav-bt span.cur{border:none;color:#333;font-size:16px}*/
.detail-con{margin:20px 20px 0px 20px;overflow: hidden;}
.detail-con .detail-item{position:relative;padding:0 0 15px 125px;clear:both}
.detail-con .detail-item .item-tit{width:125px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;position:absolute;left:0;top:0;color:#999}
.detail-con .detail-item .item-con{word-wrap:break-word;word-break:break-all;min-height:19px;white-space:pre-wrap}
.detail-con .detail-item.width50{width: 50%;float: left;clear:none}


.mr5 { margin-right: 5px !important; }

/*按钮样式*/
.btn {font-size: 14px;border:none;border-radius: 0px;}
.btn-info {background-color:#12b8f6;}
.btn-default {color: #fff;background-color:#bab9b9;border:none;}
.btn-danger {color: #fff;background-color: #ee5564;border:none;}
.btn-warning {color: #fff;background-color: #FFAA32;border:none;}
.btn-success {color: #fff;background-color: #10D288; border:none;}


.mt0 { margin-top: 0 !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }

.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr30 { margin-right: 30px !important; }

.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }

.mr10 { margin-right: 10px !important; }

.mb5 { margin-bottom: 5px; }
.mb8 { margin-bottom: 8px; }
.mb9 { margin-bottom: 9px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }

.nomargin { margin: 0; }
.nopadding { padding: 0; }
.padding10 { padding: 10px; }
.padding15 { padding: 15px; }
.padding20 { padding:20px; }
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}
.pl20{padding-left: 20px;}
.pr20{padding-right: 20px;}

.inline-block { display: inline-block;}
.c000{color: #000;}
.c333{color: #333;}
.c666{color: #666;}
.c999{color: #999;}

.ft16{font-size: 16px;}
.ft14{font-size: 14px;}
.ft12{font-size: 12px;}
.ft18{font-size: 18px;}

.tc{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}

